[loggers]
keys = root, consoleLogger, fileLogger

[handlers]
keys = consoleHandler, fileHandler

[formatters]
keys = consoleFormatter, fileFormatter

[logger_root]
level = DEBUG
handlers = consoleHandler, fileHandler

[logger_consoleLogger]
handlers = consoleHandler
qualname = consoleLogger

[logger_fileLogger]
handlers = fileHandler
qualname = fileLogger

[handler_consoleHandler]
class = StreamHandler
formatter = consoleFormatter
args = (sys.stdout,)

[handler_fileHandler]
class = FileHandler
formatter = fileFormatter
args = ("log.log",)

[formatter_consoleFormatter]
format = %(levelname)s { %(message)s }

[formatter_fileFormatter]
format = %(asctime)s - %(levelname)s - {%(message)s}
